.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
  }

  .hr-or {
    background-color: #f5efef;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

footer.nb-footer {
    position: relative;
    bottom: 0 !important;
    left: 0;
    right: 0;
    background:linear-gradient(135deg, #4f42b5 0%,#5e7ec4 100%);
    border-top: 4px solid #5ccbff; bottom: 0;
    z-index: 5;
}

footer.nb-footer .about {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1170px;
    text-align: center; 
}

footer.nb-footer .about p {
    font-size: 13px;
    color: rgb(255, 255, 255);
}

footer.nb-footer .about .social-media {
    margin-top: 15px; 
}

footer.nb-footer .about .social-media ul li a {
display: inline-block;
width: 45px;
height: 45px;
line-height: 45px;
border-radius: 50%;
font-size: 16px;
color: #fff;
border: 1px solid rgba(255, 255, 255, 0.3); }

footer.nb-footer .about .social-media ul li a:hover {
background: #fff;
color: #fff;
border-color: #fff; }

footer.nb-footer .footer-info-single {
margin-top: 30px; }

footer.nb-footer .footer-info-single .title {
color: rgb(255, 255, 255);
text-transform: uppercase;
font-size: 16px;
border-left: 4px solid #b78c33;
padding-left: 5px; }

footer.nb-footer .footer-info-single ul li a {
display: block;
color: rgb(255, 254, 254);
padding: 2px 0; }

footer.nb-footer .footer-info-single ul li a:hover {
color: #fff; }

footer.nb-footer .footer-info-single p {
font-size: 13px;
line-height: 20px;
color: rgb(255, 254, 254); }

footer.nb-footer .copyright {
margin-top: 15px;
background:linear-gradient(135deg, #4f42b5 0%,#4f42b5 100%);
padding: 7px 0;
color: rgb(255, 255, 255); }

footer.nb-footer .copyright p {
margin: 0;
padding: 0; }

.GDSCLogo{
    width: 25% !important;
    display: inline;
}